@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?5eryt6');
  src:  url('/fonts/icomoon.eot?5eryt6#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?5eryt6') format('truetype'),
    url('/fonts/icomoon.woff?5eryt6') format('woff'),
    url('/fonts/icomoon.svg?5eryt6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-embed:before {
  content: "\ea7f";
}

body {
  margin: 0
}