.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-spinner.icon-spinner {
  font-size: 3em;
  margin-bottom: 1em;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.reportform {
  display: flex;
  padding: 1em;
  text-align: center;
  flex-direction: column;
}

.loading-text {

}

.report-creator {
  display: flex;
  justify-content: center;
}

.form-control {
  margin: 0 1em;
}

.form-control > input {
  margin: 1em;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}